.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
  }

  input[type="file"] {
    padding: 10px;
    margin-bottom: 20px;
  }

  button {
    padding: 10px 20px;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }

  button:hover {
    background-color: blue;
  }

  button:disabled {
    background-color: gray;
    cursor: default;
  }

  a {
    display: block;
    margin-top: 20px;
    font-size: 18px;
    text-decoration: none;
    color: black;
  }